/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode nav .profile img {
  border: 2px solid #00C6FF;
}

body.dark-mode nav {
  background-color: #1e1e1e;
}

body.dark-mode #sidebar {
  background: #1e1e1e;
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode #sidebar-toggle {
  color: #fff;
  background-color: #00C6FF;
}

body.dark-mode #sidebar .menu-link {
  color: #ffffff; /* Warna teks menu */
}

body.dark-mode #sidebar .menu-link.active {
  background-color: #333333; /* Warna menu aktif */
  color: #ffffff; /* Warna teks menu aktif */
}

body.dark-mode #sidebar .menu-link.active i {
  color: #ffffff; /* Warna ikon menu aktif */
}

body.dark-mode #sidebar .brand {
  color: #ffffff; /* Warna teks brand */
}
