body {
  background-color: #1a202c!important;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.288);
}

h1 {
  color: white!important;
  z-index: 1;
}

/* Menu */
.menu {
  margin-top: 80px; /* Memberi ruang dari header */
  width: 90%; /* Agar tombol tidak terlalu besar di layar kecil */
  max-width: 400px; /* Batas maksimum tombol */
  z-index: 1;
}

.menu button {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background: #202f5b;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease;
}

.menu button:hover {
  background: #1a244a;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
  }

  .menu button {
    font-size: 18px;
    height: 45px;
  }
}
