/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: 600px;
    max-height: 80vh; /* Batasi tinggi modal agar tidak melebihi viewport */
    overflow-y: auto; /* Aktifkan scroll jika konten melebihi ukuran modal */
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
}

.close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

.close:hover {
    color: #000;
}

/* Button style */
.btn-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
