.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Modal aktif */
.modal.modal-visible {
  display: flex !important;
}

.modal-content {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  width: 50%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-top: 6px solid #0056b3;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header h2 {
  margin: 0;
  font-size: 22px;
  color: #004080;
  text-align: center;
}

#modal-page p strong + i.check-icon {
  margin-left: 10px; /* Memberikan jarak antara nama lengkap dan ikon */
  vertical-align: middle; /* Menyelaraskan vertikal dengan teks */
}

#modal-page .check-icon {
  color: #007bff;  /* Warna biru */
  font-size: 20px;
  margin-left: 10px;
}

#modal-page p {
  font-size: 16px;
  margin: 6px 0;
  width: 100%;
  text-align: left;
  line-height: 1.6;
}

#modal-page strong {
  color: #2c3e50;
  min-width: 160px;
  display: inline-block;
}

#modal-page .close {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  color: #888;
  transition: color 0.3s ease;
}

#modal-page .close:hover {
  color: #e74c3c;
}

/* Centered Profile */
#modal-page .profile-center {
  text-align: center;
  margin-bottom: 20px;
}

#modal-page .text-center {
  text-align: center;
  color: #004080;
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

#modal-page .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #004080;
  display: inline-block;
}

#profileDetails,
#creatorDetails,
#userDetailContent {
  overflow-y: auto;
  max-height: 60vh;
  padding: 15px;
  border-top: 1px solid #eee;
}

.modal-content p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #444;
}

.modal-content strong {
  color: #222;
}

.modal-content .table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  margin-top: 15px;
}

#modal-page table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#modal-page th,
#modal-page td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsif untuk HP */
@media (max-width: 768px) {
  #modal-page .modal-content {
    width: 90%;
    padding: 20px;
  }
}
