body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.btn {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-safe { background-color: green;}
.btn-warning { background-color: rgb(201, 201, 0);}
.btn-danger { background-color: red; }
.btn-info { background-color: blue; }
.btn-download { background-color: rgb(150, 199, 15);}
.btn-secondary { background-color: gray; }
.btn:hover { opacity: 0.8; }

