#user-page {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #eaf0f6 0%, #ffffff 100%);
  color: #2c3e50;
}

#user-page h2 {
  color: #004080;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

#user-page .form-group {
  margin-bottom: 20px;
}

#user-page .custom-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

#user-page .custom-file-label {
  font-size: 13px;
  color: white !important;
  background-color: #004080;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block !important;
  margin-top: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

#user-page .custom-file-label:hover {
  background-color: #002a5e;
}

#user-page .file-name {
  margin-left: 10px;
  font-style: italic;
  font-size: 0.9em;
  color: grey;
}

#user-page label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
  color: black;
}

#user-page input[type="text"],
#user-page input[type="date"],
#user-page input[type="file"],
#user-page select,
#user-page textarea {
  padding: 10px 12px;
  border: 1px solid #ced4da;
  background-color: #eef2ff;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

#user-page input[type="text"],
#user-page input[type="date"],
#user-page select,
#user-page textarea {
  width: 100%;
}

#user-page input[type="date"] {
  color: #999;
  font-weight: 600;
}

#user-page input[type="file"] {
  width: 0%;
}

#user-page input:focus,
#user-page select:focus,
#user-page textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px #007bff66;
}

.custom-date {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#user-page textarea {
  resize: vertical;
  min-height: 100px;
}

#user-page button {
  padding: 10px 16px;
  margin-bottom: 10px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

#user-page button:hover {
  background-color: #002a5e;
}

#user-page .download-container {
  position: fixed;
  top: 75px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 999;
}

#user-page .download-btn button {
  padding: 8px 12px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

#user-page .download-btn button:hover {
  background-color: #002a5e;
}

/* Style form error */
.select2-container.error-field + .select2-container {
  border-color: #ff4444 !important;
  outline: none;
  box-shadow: 0 0 4px #ff4444c4 !important;
  animation: shake 0.5s ease-in-out;
}

.select2-container.error-field .select2-selection {
  border-color: #ff4444 !important;
  outline: none;
  box-shadow: 0 0 4px #ff4444c4 !important;
  animation: shake 0.5s ease-in-out;
}

.error-field {
  border-color: #ff4444 !important;
  outline: none;
  box-shadow: 0 0 4px #ff4444c4 !important;
  animation: shake 0.5s ease-in-out;
}

/* Animasi untuk shake */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

/* Select2 Styling */
.select2-results__option img {
  vertical-align: middle;
  margin-right: 10px !important;
}

.select2-selection__rendered img {
  vertical-align: middle;
  margin-right: 5px !important;
}

.select2-search__field {
  padding: 6px;
  border-radius: 6px;
}

.select2-search__field:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px #007bff66;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #004080;
  color: white;
}

.select2-results__option {
  font-family: "Inter", sans-serif;
}

.select2-results__option[aria-selected] {
  background-color: #eef2ff;
}

.select2-container--default .select2-selection--single {
  height: 45px !important;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ced4da !important;
  background-color: #eef2ff !important;
  padding-left: 12px;
  padding-right: 30px;
}

.select2-selection__rendered {
  line-height: 45px !important;
  color: #6c757d !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  position: absolute;
  right: 25px;
  top: 20px;
  transform: translateY(-50%);
  color: #dc3545;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 2;
}

/* Select2 Search Field */
.select2-search__field {
  padding: 6px;
  border-radius: 6px;
}

.select2-search__field:focus {
  border-color: #007bff !important;
  outline: none;
  box-shadow: 0 0 4px #007bff66 !important;
}

#user-page .pencipta-container {
  margin-bottom: 20px;
}

#user-page .pencipta {
  padding: 0px 12px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#user-page .pencipta-label {
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 5px;
}

#user-page .pencipta button {
  margin-right: 8px;
  margin-top: 8px;
  background-color: #6c757d;
}

#user-page .pencipta button:hover {
  background-color: #5a6268;
}

/*=== Dark mode styles ===*/
body.dark-mode #user-page {
  background: #121212;
  color: #ffffff;
}

body.dark-mode #user-page h2 {
  color: #ffffff;
}

/* Input, select, textarea */
body.dark-mode #user-page input[type="text"],
body.dark-mode #user-page input[type="file"],
body.dark-mode #user-page select,
body.dark-mode #user-page textarea {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
}

body.dark-mode #user-page input[type="date"] {
  background-color: #333333;
  border: 1px solid #444444;
}

body.dark-mode #user-page input:focus,
body.dark-mode #user-page select:focus,
body.dark-mode #user-page textarea:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 4px #ffffffa2;
}

/* Autofill styles for dark mode */
body.dark-mode #user-page input[type="text"]:-webkit-autofill,
body.dark-mode #user-page input[type="date"]:-webkit-autofill,
body.dark-mode #user-page input[type="file"]:-webkit-autofill,
body.dark-mode #user-page select:-webkit-autofill,
body.dark-mode #user-page textarea:-webkit-autofill {
  background-color: #333333 !important;
  color: #ffffff !important;
  border: 1px solid #444444 !important;
  box-shadow: 0 0 0px 1000px #333333 inset !important;
  -webkit-text-fill-color: #ffffff !important; /* Pastikan teks tetap terang */
  transition: background-color 5000s ease-in-out 0s;
}

/* Warna ikon kalender untuk input date */
body.dark-mode
  #user-page
  input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Membalik warna menjadi putih */
}

/* Select2 styles for dark mode */
body.dark-mode .select2-search--dropdown {
  background-color: #333333;
}

body.dark-mode .select2-container--open .select2-dropdown {
  border: none !important;
}

body.dark-mode
  .select2-container--default
  .select2-search--dropdown
  .select2-search__field {
  background-color: #333333;
  color: white;
}

body.dark-mode
  .select2-container--default
  .select2-search--dropdown
  .select2-search__field:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 4px #ffffffa2 !important;
}

body.dark-mode .select2-search__field:focus {
  border-color: #ffffff;
  box-shadow: 0 0 4px #ffffff66;
}

body.dark-mode .select2-results__option[aria-selected] {
  background-color: #333333;
}

body.dark-mode .select2-container--default .select2-selection--single {
  border: 1px solid #444444 !important;
  background-color: #333333 !important;
}

body.dark-mode .select2-results__option {
  background-color: #333333;
}

body.dark-mode
  .select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #1e1e1e;
}

body.dark-mode #user-page button {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode #user-page button:hover {
  background-color: #444444;
}

/* Label */
body.dark-mode #user-page label {
  color: #ffffff;
}

/* Buttons */
body.dark-mode #user-page button {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode #user-page button:hover {
  background-color: #444444;
}

/* Download buttons */
body.dark-mode #user-page .custom-file-label {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode #user-page .custom-file-label:hover {
  background-color: #444444;
}

/* Pencipta container */
body.dark-mode #user-page .pencipta {
  background-color: #1e1e1e;
  border: 1px solid #444444;
}

body.dark-mode #user-page .pencipta-label {
  color: #ffffff;
}

body.dark-mode #user-page .pencipta button {
  background-color: #444444;
  color: #ffffff;
}

body.dark-mode #user-page .pencipta button:hover {
  background-color: #555555;
}
/*=== End of Dark mode styles ===*/
